@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0p;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 1440px;
  margin-inline: auto;
  background-color: aquamarine;
}
.position {
  position: absolute;
  right: 1000px;
}
header {
  position: fixed;
  position: absolute;

  right: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  right: 400px;
  position: absolute;
  display: flex;
  gap: 24px;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  width: 100px;

  display: block;
  text-align: center;
}

.user-icon {
  width: 20px;
}

.language {
  font-size: 14px;
  font-weight: 600;
  background-color: white;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.hero {
  display: flex;
  height: 773px;
  width: 1440px;
  background-image: url(./image/HeroImage.png);
  justify-content: center;
  align-items: center;
}

.text {
  flex-direction: column;
  display: flex;
  color: white;
}

.magic-parents {
  display: flex;

  height: 80px;

  justify-content: center;
  align-items: center;
}
.text-1 {
  display: flex;
  opacity: 50%;
  font-size: 80px;
  font-weight: 500;
  font-family: "Bebas Neue", serif;
}

.text-2 {
  height: 250px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 250px;
  font-weight: 500;
  font-family: "Bebas Neue", serif;
}

.text-3 {
  display: flex;
  font-weight: 900;
  font-size: 64px;

  margin-inline: auto;
  font-family: "Hanuman", serif;
}

.location {
  display: flex;

  background-image: url(./image/Location\ image.png);
  width: 1440px;
  height: 500px;
}

.card-1 {
  display: flex;
  margin: 65px 1055.49px 65px 109.02px;

  border-radius: 40px;
}

.frame-1 {
  display: flex;

  margin-left: 12px;
}

.rectangle {
  position: absolute;
  display: flex;
  margin: 0px 0.49px 0px 1px;
  border-radius: 40px;
}

.img-4 {
  border-radius: 40px;
  box-shadow: -8px -8px 0px 0px rgba(46, 65, 71, 0.4),
    8px 8px 0px 0px rgba(41, 114, 139, 0.25);
}

.lake-text {
  position: relative;
  display: flex;
  margin: 141px 10px 141px 10px;

  text-align: center;
  font-size: 37px;
  font-weight: 400;
  font-family: "Bebas Neue", serif;
  color: white;
  z-index: 10;
}
.card-2 {
  position: absolute;
  display: flex;
  margin: 65px 740px 65px 424.51px;

  border-radius: 40px;
}

.frame-2 {
  display: flex;

  margin: 0px 11.49px 0px 12px;
}

.amar-text {
  display: flex;

  margin: 141px 10px 141px 10px;
  font-size: 37px;
  text-align: center;
  font-weight: 400;
  font-family: "Bebas Neue", serif;
  color: white;
  z-index: 10;
}

.rectangle-1 {
  position: absolute;
  display: flex;
  margin: 0px 0.49px 0px 1px;

  border-radius: 40px;
}

.card-3 {
  position: absolute;
  display: flex;
  margin: 65px 424.51px 65px 740px;

  border-radius: 40px;
}
.frame-3 {
  display: flex;
  margin: 0px 11.49px 0px 12px;
}

.huvsgul-lake {
  display: flex;
  width: 232px;
  height: 44px;

  margin: 163px 10px 163px 10px;
  font-size: 37px;
  font-weight: 400px;
  justify-content: center;
  color: white;
  font-family: "Bebas Neue", serif;
  z-index: 10;
}
.rectangle-2 {
  position: absolute;
  display: flex;
  margin: 0px 0.49px 0px 1px;
  border-radius: 40px;
}

.card-4 {
  position: absolute;
  display: flex;
  margin: 65px 109.02px 65px 1055.49px;

  border-radius: 40px;
}

.frame-4 {
  display: flex;

  margin: 0px 11.49px 0px 12px;
}

.togoo-text {
  display: flex;
  margin: 163px 10px 163px 10px;
  justify-content: center;
  width: 232px;
  height: 44px;

  font-weight: 400;
  font-size: 37px;
  color: white;
  font-family: "Bebas Neue", serif;
  z-index: 10;
}

.rectangle-3 {
  position: absolute;
  display: flex;
  margin: 0px 0.49px 0px 1px;
  border-radius: 40px;
}

.road-map-image {
  position: relative;
  display: flex;
  background-image: url(./image/Roadmap\ image.png);
  width: 1440px;
  height: 1022px;
  flex-direction: column;
  align-items: center;
}

.destination {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 204px;
  align-items: center;
  padding: 120px 0px 1px 2px;
}

.dest-text {
  display: flex;
  flex-direction: column;
  width: 1442px;
  height: 85px;

  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 42px;
  font-family: "Inter", serif;
}
.pack-text {
  font-size: 20px;
  font-weight: 500;
  font-family: "Inter", serif;
}

.frame-5 {
  width: 1200px;
  height: 640px;
  margin-top: 59px;
}

.left-cont {
  display: flex;
  flex-direction: column;

  row-gap: 20px;
}

.picture-parents {
  display: flex;
  display: none;
  position: absolute;
}
.sukh-img {
  top: 0;
  left: 500px;
}
.picture-parents:hover .sukh-img {
  display: block;
}
.package {
  height: 300px;
  width: 500px;
  background-color: aquamarine;
}
.package button {
  border: none;
  background-color: white;
}

.package:hover button {
  background-color: black;
  color: white;
}
.block-1 {
  background-color: #eee9d9;
  border-radius: 120px;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  width: 513px;
}

.text-5 {
  column-gap: 12px;
  font-size: 12px;
  font-weight: 400;
  font-family: "Montserrat", serif;
}

.inside-cont {
  font-size: 24px;
  font-weight: 500;
  font-family: "Inter", serif;
}
.day-1 {
  display: flex;
  width: 52px;
  height: 52px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter", serif;
}

.block-2 {
  display: flex;
  width: 513px;
  padding: 30px;
  justify-content: space-between;
  background-color: #8bb8c1;
  border-radius: 120px;
}

.text-6 {
  column-gap: 12px;
  font-size: 12px;
  font-weight: 400;
  font-family: "Montserrat", serif;
}

.inside-cont-1 {
  font-size: 24px;
  font-weight: 500;
  font-family: "Inter", serif;
}
.day-2 {
  display: flex;
  width: 52px;
  height: 52px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter", serif;
}

.block-3 {
  display: flex;
  width: 513px;
  padding: 30px;
  background-color: #aad8d7;
  border-radius: 120px;
  justify-content: space-between;
}

.text-7 {
  column-gap: 12px;
  font-size: 12px;
  font-weight: 400;
  font-family: "Montserrat", serif;
}

.inside-cont-2 {
  font-size: 24px;
  font-weight: 500;
  font-family: "Inter", serif;
}
.day-3 {
  display: flex;
  width: 52px;
  height: 52px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter", serif;
}
.block-4 {
  display: flex;
  width: 513px;
  padding: 30px;
  background-color: #8bc0bd;
  border-radius: 120px;
  justify-content: space-between;
}

.text-8 {
  column-gap: 12px;
  font-size: 12px;
  font-weight: 400;
  font-family: "Montserrat", serif;
}

.inside-cont-4 {
  font-size: 24px;
  font-weight: 500;
  font-family: "Inter", serif;
}
.day-4 {
  display: flex;
  width: 52px;
  height: 52px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter", serif;
}
.block-5 {
  display: flex;
  width: 513px;
  padding: 30px;
  background-color: #97cce0;
  border-radius: 120px;
  justify-content: space-between;
}

.text-9 {
  column-gap: 12px;
  font-size: 12px;
  font-weight: 400;
  font-family: "Montserrat", serif;
}

.inside-cont-4 {
  font-size: 24px;
  font-weight: 500;
  font-family: "Inter", serif;
}
.day-5 {
  display: flex;
  width: 52px;
  height: 52px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter", serif;
}
.img {
  position: absolute;
}
.aa {
  top: 290px;
  left: 990px;
}
.bb {
  top: 390px;
  left: 990px;
}
.cc {
  top: 450px;
  left: 1167px;
}

.dd {
  top: 520px;
  left: 890px;
}

.ff {
  top: 420px;
  left: 790px;
}

.bottom-backround {
  display: flex;
  background: url(./image/Price&Footer\ image.png);
  height: 1120px;
  flex-direction: column;
}
.top-pricing {
  padding-top: 40px;
  text-align: center;
}

.top-pricing > h1 {
  font-size: 42px;
  font-weight: 600;
  font-family: "Inter", serif;
}

.top-pricing > h2 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Inter", serif;
  opacity: 40%;
}

.prices {
  display: flex;
  gap: 24px;
  margin-top: 79px;
  margin-left: 120px;
}
.package-child-1 {
  width: 384px;
  height: 527px;
  border-radius: 40px;
  background-color: #fafbfc;
}

.pack-header {
  display: flex;
  height: 92px;

  padding-left: 24px;
  gap: 16px;
}
.heart-icon {
  display: flex;
  align-items: center;
}
.tex-10 {
  display: flex;
  margin-left: 16px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", serif;
}

.pack-content {
  display: flex;
  width: 384px;
  height: 435px;

  padding-left: 24px;
  padding-top: 12px;
  flex-direction: column;
}

.pack-cont-child {
  display: flex;
  width: 336px;
  height: 290px;

  flex-direction: column;
  row-gap: 32px;
}

.jj {
  display: flex;
  height: 78px;

  flex-direction: column;
}
.text-11 {
  font-size: 40px;
  font-weight: 600;
  font-family: "Montserrat", serif;
  height: 49px;
}
.text-12 {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", serif;
  opacity: 50%;
  justify-content: space-between;
}
.pop {
  height: 27px;
  border-radius: 50px;
  background-color: steelblue;
  opacity: 100%;
}
.cont-child-9 {
  display: flex;
  flex-direction: column;

  height: 180px;
  row-gap: 16px;
}

.text-13 {
  margin-left: 40px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", serif;
}
p {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter", serif;
  opacity: 80%;
}
.text-14 {
  display: flex;
}

.text-15 {
  display: flex;
}

.text-16 {
  display: flex;
}
.text-17 {
  display: flex;
}

.select {
  display: flex;
  width: 336px;
  height: 48px;
  background-color: #a4d1e2;
  justify-content: center;
  align-items: center;
  margin-top: 37px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter", serif;
}

.footer {
  display: flex;
  width: 1440px;
  height: 204px;
  justify-content: center;
  align-items: center;
}

.footer-child {
  display: flex;
  width: 1200px;
  height: 44px;

  justify-content: space-between;
}

.social {
  display: flex;

  gap: 20px;
  width: 358px;
  height: 44px;
}

.ins {
  display: flex;
  width: 167px;
  height: 44px;
  background-color: #fafbfc;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.fb {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  width: 171px;
  height: 44px;
  background-color: #fafbfc;
  border-radius: 50px;
}

footer {
  position: fixed;
  position: absolute;
  bottom: 10px;
}
