@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
  height: 44px;
}

.navigation {
  display: flex;
  gap: 24px;
}

.navigation a {
  text-decoration: none;
  color: black;
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 12px;
}

.text-title {
  display: block;
  display: flex;
  justify-content: center;
  height: 52px;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", serif;
}

.menu-img {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
  .menu-img {
    display: block;
  }

  .search-img {
    margin-left: auto;
  }
}
