.container {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(2, 200px);
  gap: 30px;
}
.child-1 {
  background-color: blueviolet;
}

.child-2 {
  background-color: aquamarine;
}

.child-3 {
  background-color: aquamarine;
}
.child-4 {
  background-color: aquamarine;
}
